@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-family: 'Poppins-Black';
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
}

h2 {
    font-family: 'Poppins-Black';
    font-size: 1rem;
    color: #333;
    margin-bottom: 1rem;
}

h3 {
    font-family: 'Poppins-Black';
    font-size: 0.5rem;
    color: #333;
    margin-bottom: 1rem;
}



@font-face {
    font-family: 'Poppins-Regular';
    src: url('./fonts//Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('./fonts//Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('./fonts/Poppins-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Black';
    src: url('./fonts/Poppins-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('./fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('./fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Thin';
    src: url('./fonts/Poppins-Thin.ttf') format('truetype');
}